<a href="https://colab.research.google.com/github/18K41A0474/Assignment-1/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# problem-1
year=int(input("enter ur yr of birth"))
if year%12==0:
  print("monkey")
elif year%12==1:
  print("rooster")
elif year%12==2:
  print("dog")
elif year%12==3:
  print("pig")
elif year%12==4:
  print("rat")
elif year%12==5:
  print("ox")
elif year%12==6:
  print("tiger")
elif year%12==7:
  print("rabit")
elif year%12==8:
  print("dragon")
elif year%12==9:
  print("snake")
elif year%12==10:
  print("horse")
else:
  print("sheep")

enter ur yr of birth2001
snake

In [ ]:
#problem-2
dist=int(input("enter distance travelled="))
wt=int(input("enter weight="))
if dist>=500:
  if wt>=100:
    print("amount to be charged=",5*dist)
  elif wt>=10 and wt<100:
    print("amount to be charged=",6*dist)
  elif wt<10:
    print("amount to be charged=",7*dist)
else:
  if wt>=100:
    print("amount to be charged=",8*dist)
  elif wt<100:
    print("amount to be charged=",5*dist)

enter distance travelled=520
enter weight=50
amount to be charged= 3120

In [ ]:
#problem-3
# The Entertainment Paradise
#A theater in Delhi wants to develop a computerized Booking System. The theater offers
#different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper
#Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets
#are purchased on Cash. In case of credit card holders 5% discount is given.
#Input: Type of Seat: Circle
#Payment mode: cash
#Output: Cost of ticket: 675
#program:
tictype=input("enter ticket type:")
mode=input("enter ur payment mode:")
if mode=='Cash':
  if tictype=='Stalls':
    print("total amount=",625-(625*10/100))
  elif tictype=='Circle':
    print("total amount=",750-(750*10/100))
  elif tictype=='Upper class':
    print("total amount=",850-(850*10/100))
  else:
    print("total amount=",1000-(1000*10/100))
else:
   if tictype=='Stalls':
    print("total amount=",625-(625*5/100))
   elif tictype=='Circle':
    print("total amount=",750-(750*5/100))
   elif tictype=='Upper class':
    print("total amount=",850-(850*5/100))
   else:
    print("total amount=",1000-(1000*5/100))

enter ticket type:Circle
enter ur payment mode:cash
total amount= 950.0

In [ ]:
#problem-4
#4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
#Q = M * (finalTemperature – initialTemperature) * 4184.
#where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. 
#program:
wt=int(input("enter ur amount of water in kg="))
itemp=int(input("enter ur initial temperature="))
ftemp=int(input("enter ur final temperature="))
print("energy=",wt*(ftemp-itemp)*4184)

enter ur amount of water in kg=5
enter ur initial temperature=30
enter ur final temperature=75
energy= 941400

In [ ]:
#problem-5
#Develop a program that prompts user to enter month and  print 
#a.	“Winter ” -   December ,January and February
#b.	“Spring”  -   March ,April and May
#c.	“Summer”  --- June ,July, August
#d.	“Autumn ”  -- September ,October, November
#program:
month=input("enter the month:")
if month=='December' or month=='January' or month=='February':
  print("Winter")
if month=='March' or month=='April' or month=='May':
  print("Spring")
if month=='June' or month=='July' or month=='August':
  print("Summer")
if month=='September' or month=='October' or month=='November':
  print("Autumn")

enter the month:November
Autumn

In [ ]:
#problem-6

wt=float(input("enter ur weigth in kilograms="))
ht=float(input("enter ur height in meters="))
age=int(input("enter ur age="))
W=wt/0.45359237
H=ht/0.0254
BMI=W*703/H**2
print("Body Mass Index=",BMI)
if age>=20:
  if BMI<18.5:
    print("Under Weight")
  elif 18.5<=BMI<25.0:
    print("Normal")
  elif 25.0<=BMI<30.0:
    print("Over Weight")
  else:
    print("Obese")
else:
    print("Under 20")

enter ur weigth in kilograms=60.3
enter ur height in meters=1.6002
enter ur age=20
Body Mass Index= 23.54646941308371
Normal

In [ ]:
#problem-7
#Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)
#program:
num=int(input("enter ur number="))
rem=0
if num>100 and num<1000:
  while num!=0:
    temp=num//100
    dig=num%10
    rem+=dig
    num//=10
  print("sum=",rem)
else:
  print("invalid input")

enter ur number=745
sum= 16

In [ ]:
#problem-8
#Print all palindrome numbers between 1 to 1000.
#program:
max=int(input("enter ur maximum value"))
for num in range(1,max+1):
  temp=num
  rev=0
  while(temp>0):
    rem=temp%10
    rev=(rev*10)+rem
    temp=temp//10
  if(num==rev):
    print("palindrome numbers are=",num)

enter ur maximum value1000
palindrome numbers are= 1
palindrome numbers are= 2
palindrome numbers are= 3
palindrome numbers are= 4
palindrome numbers are= 5
palindrome numbers are= 6
palindrome numbers are= 7
palindrome numbers are= 8
palindrome numbers are= 9
palindrome numbers are= 11
palindrome numbers are= 22
palindrome numbers are= 33
palindrome numbers are= 44
palindrome numbers are= 55
palindrome numbers are= 66
palindrome numbers are= 77
palindrome numbers are= 88
palindrome numbers are= 99
palindrome numbers are= 101
palindrome numbers are= 111
palindrome numbers are= 121
palindrome numbers are= 131
palindrome numbers are= 141
palindrome numbers are= 151
palindrome numbers are= 161
palindrome numbers are= 171
palindrome numbers are= 181
palindrome numbers are= 191
palindrome numbers are= 202
palindrome numbers are= 212
palindrome numbers are= 222
palindrome numbers are= 232
palindrome numbers are= 242
palindrome numbers are= 252
palindrome numbers are= 262
palindrome numbers are= 272
palindrome numbers are= 282
palindrome numbers are= 292
palindrome numbers are= 303
palindrome numbers are= 313
palindrome numbers are= 323
palindrome numbers are= 333
palindrome numbers are= 343
palindrome numbers are= 353
palindrome numbers are= 363
palindrome numbers are= 373
palindrome numbers are= 383
palindrome numbers are= 393
palindrome numbers are= 404
palindrome numbers are= 414
palindrome numbers are= 424
palindrome numbers are= 434
palindrome numbers are= 444
palindrome numbers are= 454
palindrome numbers are= 464
palindrome numbers are= 474
palindrome numbers are= 484
palindrome numbers are= 494
palindrome numbers are= 505
palindrome numbers are= 515
palindrome numbers are= 525
palindrome numbers are= 535
palindrome numbers are= 545
palindrome numbers are= 555
palindrome numbers are= 565
palindrome numbers are= 575
palindrome numbers are= 585
palindrome numbers are= 595
palindrome numbers are= 606
palindrome numbers are= 616
palindrome numbers are= 626
palindrome numbers are= 636
palindrome numbers are= 646
palindrome numbers are= 656
palindrome numbers are= 666
palindrome numbers are= 676
palindrome numbers are= 686
palindrome numbers are= 696
palindrome numbers are= 707
palindrome numbers are= 717
palindrome numbers are= 727
palindrome numbers are= 737
palindrome numbers are= 747
palindrome numbers are= 757
palindrome numbers are= 767
palindrome numbers are= 777
palindrome numbers are= 787
palindrome numbers are= 797
palindrome numbers are= 808
palindrome numbers are= 818
palindrome numbers are= 828
palindrome numbers are= 838
palindrome numbers are= 848
palindrome numbers are= 858
palindrome numbers are= 868
palindrome numbers are= 878
palindrome numbers are= 888
palindrome numbers are= 898
palindrome numbers are= 909
palindrome numbers are= 919
palindrome numbers are= 929
palindrome numbers are= 939
palindrome numbers are= 949
palindrome numbers are= 959
palindrome numbers are= 969
palindrome numbers are= 979
palindrome numbers are= 989
palindrome numbers are= 999

In [ ]:
#problem-9
#Print all Armstrong numbers between 1 to 1000
#program:
max=int(input("enter ur maximum value"))
for num in range(1,max+1):
  temp=num
  sum=0
  while(temp>0):
    rem=temp%10
    sum+=rem**3
    temp=temp//10
  if(num==sum):
    print("armstrong numbers are=",num)

enter ur maximum value1000
armstrong numbers are= 1
armstrong numbers are= 153
armstrong numbers are= 370
armstrong numbers are= 371
armstrong numbers are= 407

In [ ]:
#problem-10
#Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".
#program:
max=int(input("enter ur maximum value"))
for num in range(1,max+1):
  if num%3==0 and num%5==0:
    print("Fizz Buzz")
  elif num%3==0:
    print("Fizz")
  elif num%5==0:
    print("Buzz")
  else:
    print(num)

enter ur maximum value100
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz Buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz Buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz Buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz Buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz Buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
#problem-11
#Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
#Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
#Output:  The number of steps 'N' required to get out of the well.
#Example 1:
 	#Input:						Ouput 
	#200 50 1					    5
	#Example 2:
 	#Input:						Output
	#500 20 15					   98
#program:
ht=int(input("enter height="))
u=int(input("how many meters spider should climb up="))
d=int(input("how many meters spider should slip down="))
dist=0
step=0
while dist<=(ht-u):
  dist=dist+(u-d)
  step+=1
  print(step+1)

enter height=500
how many meters spider should climb up=20
how many meters spider should slip down=15
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98